.calernder-box{
    margin:20px
}
.cl-1-outer{
    margin-left: 15px;
}
@media (max-width: 600px) {
    .outer-div-all {
      flex-direction: column-reverse;
       
    }
    .fc-toolbar {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        font-size: 12px;
      }
      
      .fc-left, .fc-center, .fc-right {
        width: 100%;
        font-size: 12px;
        text-align: center;
        margin: 10px 0;
      }
      .calernder-box{
        margin:5px
    }
    .cl-1-outer{
        margin-left: 0;
    }
    .event-outer{
        margin-top: 15px;
    }
      /* .fc-button-group{
        width: 100%;
        display: flex;
    justify-content: space-between;
      }
      .fc-toolbar-chunk{
        width: 100%;
      } */
  }