.teacherHome {
    height: auto;
  }

  .availabilityslotdiv p{
    margin-top: 40px;
    font-size: small;
  }
  .teacherHome #heading {
    text-align: left;
    padding: 0;
  }
  .teacherHome .left {
    width: 30%;
    height: 266px;
  }

  .teacherHome .right {
    width: 67%;
   
  }
  .teacherHome .left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .teacherHome .right {
    padding: 80px 50px;
  }
  .teacherHome .items {
    margin-top: 50px;
  }
  .teacherHome .item {
    padding: 20px;
    transition: 0.5s;
  }
  .teacherHome .img {
    width: 200px;
  }
  .teacherHome img {
    width: 70px;
    height: 70px;
  }
  .teacherHome .item h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .teacherHome .item p {
    color: #999999;
  }
 
 
  /*----------awrapper------------*/
  .awrapper {
    background-image: url("../../../../public/images/awrapper.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: #fff;
  }
  .awrapper .box {
    padding: 70px 0;
  }
  .awrapper img {
    margin-right: 30px;
  }
  .awrapper h1 {
    font-size: 50px;
  }
  .awrapper h3 {
    font-size: 20px;
    font-weight: 500;
  }
  /*----------awrapper------------*/
  @media screen and (max-width: 768px) {
    
    .teacherHome .flexSB  {
      flex-direction: column;
      padding: 20px 5px;
      max-width: 100%;
    }
   
    .aboutHome .row {
      width: 100%;
    }
    .teacherHome .left {
      width: 100%;
      height: 426px;
    }
     .teacherHome .right{
      padding: 80px 5px;
      width: 100%;
    }
    .awrapper {
      height: 50vh;
    }
    .teacherHome .img {
      width: 100px;
  }
  }
  