/* styles.css */
/* Base styles */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  /* Custom class for the main container */
  .w-full {
    width: 100%;
  }
  
  /* Custom class for the top margin */
  .mt-4 {
    margin-top: 1rem;
  }
  
  /* Custom class for the rounded corners */
  .rounded-sm {
    border-radius: 0.125rem;
  }
  
  /* Custom class for the border */
  .border {
    border: 1px solid #e5e7eb;
  }
  
  /* Custom class for flex container with flex direction column */
  .flex {
    display: flex;
  }
  
  /* Custom class for flex container with flex direction column */
  .flex-col {
    flex-direction: column;
  }
  
  /* Custom class for the flex container with space between items and centered items */
  .justify-between {
    justify-content: space-between;
  }
  
  /* Custom class for the flex container with centered items */
  .items-center {
    align-items: center;
  }
  
  /* Custom class for the border at the bottom of the element */
  .border-b {
    border-bottom: 1px solid #e5e7eb;
  }
  
  /* Custom class for padding on the left and right sides */
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  /* Custom class for padding on the top and bottom sides */
  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  /* Custom class for the title element */
  .text-2xl {
    font-size: 1.5rem;
  }
  
  /* Custom class for the font weight */
  .font-medium {
    font-weight: 500;
  }
  
  /* Custom class for the button element */
  .shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .bg-primary-yellow {
    background-color: #fbbf24;
  }
  
  /* Custom class for the button padding */
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  /* Custom class for the button with rounded corners */
  .rounded-sm {
    border-radius: 0.125rem;
  }
  
  /* Custom class for the button hover effect */
  .hover\:shadow-lg:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  /* Custom class for the dialog title */
  .border-b {
    border-bottom: 1px solid #e5e7eb;
  }
  
  /* Custom class for the dialog content */
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .m-1 {
    margin: 0.25rem;
  }
  
  .gap-4 {
    gap: 1rem;
  }
  
  /* Custom class for the dialog actions */
  .dialog-actions {
    display: flex;
  }
  
  /* Custom class for the "Cancel" button */
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .bg-white {
    background-color: #ffffff;
  }
  
  .border {
    border: 1px solid #ef4444;
  }
  
  .text-red-600 {
    color: #ef4444;
  }
  
  /* Custom class for the "Submit" button */
  .bg-blue-600 {
    background-color: #2563eb;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .hover\:bg-green-700:hover {
    background-color: #1d4ed8;
  }
  
  /* Custom class for the review container */
  .review-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    padding: 1rem 1.5rem;
  }
  
  /* Custom class for the review title */
  .review-title {
    font-size: 1rem;
    font-weight: 500;
  }
  
  /* Custom class for the review count text */
  .review-count {
    font-size: 1rem;
    color: #6b7280;
  }
  
  /* Custom class for the "View All" button */
  .view-all-button {
    width: 33.33%;
    margin: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #3b82f6;
    color: #ffffff;
  }
  
  .view-all-button:hover {
    background-color: #2563eb;
  }
  
  /* Custom class for the individual review container */
  .single-review-container {
    /* Add any custom styles here */
  }
  .add-review-text-field{
    width: 400px;
  }
  .heading-rate-now-button{
    margin: 0;
  }
  /* ... (other custom classes as needed) */

  @media screen and (max-width: 768px) {
    .heading-review{
      padding: 10px 0;
    }
    .heading-header{
      font-size: 18px;
    }
    .heading-rate-now-button{
      margin: 0;
    }
    .add-review-container{
      margin: 0;
    }
    .add-review-text-field{
      width: 334px;
    }
  }
  