.form-outer-div{
     border: 1px solid #ccc;
     padding: 20px }

.form-outer-div2{
    padding: 30px
}
.table-container1{
    box-shadow: none;
    background-color: inherit;
    margin: 35px 0px;
  }
.table-container1-table{
    min-width: 650px;
}

.table-container2{
    min-width: 650px;
}
.outer-div-table-requrest{
    .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
        overflow-x: visible;
    }
}
@media screen and (max-width: 768px) {
    .form-outer-div{
        padding: 2px 
    }



.form-outer-div2{
    padding: 18px
}
.table-container1-table{
    min-width: 250px;
}
.typorgraph-request-form{
    font-size: 13px;
    line-height: 19px;
}
.table-container2{
    min-width: 250px;
}
  }