/* TutoringForm.css */

/* Apply flexbox layout to center the form */
.form-container {
    display: flex;
    justify-content: center;

   /* Adjust this value based on your layout requirements */
   padding: 50px 0
  }
  
 .teacher_card_outer{
  height: min-content;
  margin-left: 40px;

 }
.blur-content {
    backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
  }

  @media screen and (max-width: 768px) {
    .form-container{
      flex-direction: column-reverse;
    }
    .teacher_card_outer{
      margin-left: 0;
      padding: 20px 10px;
    
     }
  }
  