.blog img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.blog .text {
  padding: 40px 30px;
}
.blog h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 20px 0;
  transition: 0.5s;
}
.blog h1:hover {
  color: #1eb2a6;
  cursor: pointer;
}
.blog span {
  text-transform: uppercase;
  font-weight: 500;
  color: #1eb2a6;
}
.blog span label {
  margin-left: 10px;
  color: grey;
  font-size: 14px;
}
.blog span:nth-last-child(1) label {
  color: #1eb2a6;
}
.blog p {
  color: grey;
}
.post-search-bar-outer{
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .grid2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .css-1aeycle 
    {
    width: 100%;
    padding: 10px;
}

}