.hero {
  background-image: url("../../../../public/images/bg.webp");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 14%;
  padding-right: 50px;
  color: #fff;
}
.hero #heading h3 {
  color: #fff;
}
.hero #heading {
  text-align: left;
  margin: 0;
  padding: 0;
}
.hero{
  .row {
  font-size: 37px;
  }
}
.hero-margin{
  margin-top: 20%;
}
@media screen and (max-width: 768px) {
  .margin {
    height: 40vh;
  }
  .hero-margin{
    margin-top: 25%;
  }
  .hero {
    background-position: right;
    padding-top: 50%;
    height: 80vh;
  }
  .hero_text {
    display: none
  }
  .hero {
    
    .row {
    width: 100%;
    font-size: 17px;
    }
  }
}
