.subject-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px 0;
  }
  
  .subject-card-item {
    width: 45%
  }
  .subject-card {
    display: flex;
  }
  
  .subject-card-content {
    flex: 1 0 auto;
  }
  
  .subject-name {
    cursor: pointer;
  }
  
  .subject-image-container {
    width: 35%;
    cursor: pointer;
  }
  
  .subject-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.subject-card-image{
     width: 35% ;
     cursor: pointer
}
.subject-card-info {
     display: flex;
      flex-direction: column ;
       width: 65% 
    }
  
  @media screen and (max-width: 768px) {
    .subject-card-item {
        width: 100%
      }
      .subject-card {
        flex-direction: column-reverse;
      }
      .subject-card-image{
        width: 100% ;
        height: 171px;
       
   }
   .subject-card-info {
    
      width: 100% 
   }
     
  }