.searchItem {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .siImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .siDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
  }
  
  .siTitle {
    font-size: 20px;
    color: #0071c2;
  }
  
  .siDistance {
    font-size: 12px;
  }
  
  .siTaxiOp {
    font-size: 12px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
  }
  
  .siSubtitle{
    font-size: 12px;
    font-weight: bold;
  }
  
  .siFeatures{
    font-size: 12px;
    font-size: 15px;
    color: #6c7171;
  }
  
  .siCancelOp{
    font-size: 12px;
    color: #008009;
    font-weight: bold;
  }
  
  .siCancelOpSubtitle{
    font-size: 12px;
    color: #008009;
  }
  
  .siDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  
  .siRating{
    display: flex;
    justify-content: space-between
  }
  
  .siRating>span{
    font-weight: 500;
  }
  .siRating>button{
   background-color: #003580;
   color: white;
   padding: 5px;
   font-weight: bold;
   border: none;
  }
  
  .siDetailTexts{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .siPrice{
    font-size: 24px;
  }
  
  .siTaxOp{
    font-size: 12px;
    color: gray;
  }
  
  .siCheckButton{
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

 /* Previous styles for large screens */
.searchItem {
  /* Your existing styles */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .searchItem {
    /* Adjust font sizes and spacing for mobile screens */
    .siDesc {
      h1 {
        font-size: 18px;
      }
      
      .siFeatures {
        font-size: 14px;
        margin-bottom: 8px;
      }
    }
    .siTitle{
      font-size: 13px;
    }
    .siDesc > .MuiTypography-h6 {
      font-size: 11px;
    }
    .siFeatures {
      font-size: 7px;
    }
    .siRating > div {
      flex-direction: column-reverse;
      font-size: 9px;
      /* Adjust other styles for mobile screens */
    }
    .siRating > div >  .MuiTypography-h6{
      font-size: 13px;
    }
    .siDetailTexts {
      /* Adjust other styles for mobile screens */
    }
    .siImg {
      width: 100px;
      height: 105px;
    }
    .siPrice {
      font-size: 13px;
  }
  .siTaxOp {
    font-size: 10px;
  }
  .siCheckButton{font-size: 6px;

  }
  }

}
