.main {
    margin-top: 5em;
  }
  
  .center {
    justify-content: center;
    padding: 10px;
  }
  
  .ui.search .input {
    width: 100%;
  }
  .ui.search .prompt {
    border-radius: 0px;
  }
  .ui.input > input {
    border: 1.5px solid rgba(34, 36, 38, 0.15);
  }
  
  .item {
    padding: 15px 0px !important;
  }
  
  i.icon {
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .right {
    float: right !important;
  }
  .center-div {
    text-align: center;
  }
  
  /* Container for the entire TeacherList component */
.teacher-list-container {
  padding: 3% 10%;
}

/* Flex container for alignment */
.flex-container {
  display: flex;
}

/* Filter container */
.filter-container {
  padding: 1% 3%;
  width: 22%;
}

/* Main content container */
.main-container {
  width: 78%;
}

/* Sub container for header and teacher info */
.sub-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 28px 0;
}

/* Header section */
.header {
  display: flex;
  justify-content: space-between;
}

/* Sort section */
.sort {
  display: flex;
}

/* Sort text */
.sort-text {
  margin-right: 20px;
}

/* Teacher info section */
.teacher-info {
  /* Add your styles for the teacher info section */
}
.outer-teacher-div{
     padding: 3% 10%;
}
.right-side-teacher-div{
  width: 78%
}
.teacher-search-bar{
  width: 80%;
}
.below-search-teacher-list{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 28px 0px;
}
.sort-div{
  display: flex;
    
}
.fileter-outer {
  padding: 1% 3%;
  width: 22%;
 }
 .toggle-filter {
  display: none;
}







@media (max-width: 768px) {
  .outer-teacher-div{
    padding: 5px
}
.right-side-teacher-div{
  width: 100%
}
.teacher-search-bar{
  width: 100%;
}
.teacher-search-bar >.MuiFormControl-fullWidth > .MuiOutlinedInput-adornedStart{
  font-size: 11px;
  height: 28px;
}
.below-search-teacher-list{

  width: 100%;
  margin: 7px 0px;
  
}
.below-search-teacher-list > .MuiTypography-body1{
  font-size: 10px;
}

.sort-div > .MuiTypography-gutterBottom{
  font-size: 10px;
}
.sort-div  > .MuiFormControl-root > .MuiInput-root{
  height: 17px;
  font-size: 12px;
}
.outer-teacher-1{
  flex-direction: column;
}
.fileter-outer {
  padding: 0;
  width:100%;
  .MuiTypography-h4{
    font-size: 16px;
   }
 }

.filter-expertise{
  display: flex;
}
.filter-expertise > .MuiTypography-gutterBottom{
  font-size: 12px;
  margin-right: 19px;
  margin-top: 9px;
}
.fileter-outer > .MuiTypography-gutterBottom{
  font-size: 12px;
}
.filter-expertise >.MuiFormControl-root>.MuiInput-root >.MuiSelect-select.MuiSelect-select{
  font-size: 13px;
}
.teacher-filter-availability {
  margin-top: 17px;
  .MuiSvgIcon-root{
    font-size: 18px;
  }
  .MuiTypography-body1{
    font-size: 13px;
  
  }
  .MuiFormControlLabel-root{
    width: fit-content;
  }
  .MuiFormGroup-root{
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 10px; /* Add spacing between items */
  }
}
.toggle-filter {
  display: block;
 background: inherit;
  font-size: 15px;
  
  color: black;
  padding: 0;
    margin: 10px;
 
 
}
.filter-click-div{
  display: none;
}
}
