

  .outer-dive-request{
    padding: 16px;
  }
  .request-right-div{
    width: 80%;
    margin: 0px 2%;
  }
 .list-reqeust {
   
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        max-height: 80vh;
    overflow: scroll;
  }

  .request-card{
    width: 350px;
    flex: 0 0 30.33%;
    margin: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  }
  .request-left-div{
    margin-top: 15px;
  }
  .subject-image-request{
   width: 100%;
    height: 230px
  }
  /*--------header------------*/
  @media screen and (max-width: 768px) {
   
    .request-left-div{
      margin-right: 10px;
      .css-i4bv87-MuiSvgIcon-root{
        font-size: 13px;
      }
      .css-10hburv-MuiTypography-root{
        font-size: 11px;
      }
      .css-bshv44-MuiButtonBase-root-MuiListItem-root{
        padding: 0;
      }
    }
  
    .outer-dive-request{
        padding: 5px;
      }
      .request-right-div{
        width: 100%;
        margin:0
      }
      .list-reqeust {
   
        margin-top: 0;
       flex-direction: column;
       align-items: center;
       flex-direction: row;
      
  }
  .request-card{
   
    margin: 0;
    margin-bottom: 17px;
    width: 100%;
    flex: 100%;
    .css-5x3ow7-MuiAvatar-root{
      width: 40px;
    height: 40px;
    
    }
    
    .css-2ulfj5-MuiTypography-root{
      font-size: 13px;
      margin-top: 5px;
}
.css-1coeexk{
  margin-bottom: 0;
}

  }
  .text-input-request{
    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
      font-size: 11px;
    }
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
      height: 10px;
    }
  }
  .subject-image-request{
    width: 100%;
     height: 130px
   }
   .request-time-typo {
    font-size: 11px;
    display: flex;
    align-items: center;
   }
   .info-request-1{
    .css-13du7kb-MuiTypography-root{
      font-size: 11px;
    }
    .css-76h0dc-MuiTypography-root{
      font-size: 11px;

    }
    .css-4juikq{
      margin-top: 0px;
    }
    .css-r40f8v-MuiTypography-root{
      font-size: 10px;
    }
    .css-fu2r2x-MuiTypography-root{
      font-size: 4px;
    }
    .css-ofrcno-MuiGrid-root>.MuiGrid-item{
      padding-top: 4px;
    }
   }
  .request-goal{
    .css-4juikq{
      margin-top: 2px;
    }
    .css-fu2r2x-MuiTypography-root{
      font-size: 4px;
    }
    .css-r40f8v-MuiTypography-root{
      font-size: 10px;
    }
  }
  .button-request-d{
    font-size: 11px;
  }
  }
  