/* Custom CSS for RequestDetails component */

.request-details-container {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .request-details {
     width: 80%;
    padding: 20px;
  }
  
  .subject-info img,
  .teacher-info img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-right: 10px;
  }
  .info-image-div{
    width: 300px;
    height: 300px;
  }

  .subject-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    

  }
  
  .teacher-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .request-info {
    margin-bottom: 20px;
  }
  
  .approve-slots,
  .time-slots,
  .total-hours,
  .bio-info {
    margin-bottom: 20px;
  }
  
  .time-slots ul {
    list-style: none;
    padding: 0;
  }
  
  .time-slots li {
    margin-bottom: 5px;
  }
  
  .approve-slots h3,
  .time-slots h3,
  .total-hours h3,
  .bio-info h3 {
    margin-bottom: 10px;
  }
  
  /* Add your custom styles for other elements as needed */
  


  /* CSS for TrackStepper component */

/* Green text color */
.text-primary-green {
  color: #4caf50; /* You can adjust this color as needed */
}

/* Gray text color */
.text-gray-400 {
  color: #bdbdbd; /* You can adjust this color as needed */
}

/* Icon animation */
.animate-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Larger icon size */
.text-xl {
  font-size: 1.25rem; /* You can adjust this size as needed */
}
.teacher_info-text{
  margin-left: 70px;
}
.teacher_info-text > p{
  color:#6d6d6d;
}
.request_info-header{
  padding-top: 45px;
  font-size: 30px;
}
.request-info-subect{
  margin-left:50px
}
.subject-name-request{
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .request-details-container {
    padding: 5px;
    
  }
  .teacher-info {
    flex-direction: column;
  }
  .request-details {
    width: 100%;
    padding: 5px;
  
 }
 .teacher_info-text{
  margin-left: 0;
  width: 100%;
  text-align: center;
}
.teacher_info-text > h3{
  font-size: 23px;
}
.teacher_info-text > p{
  font-size: 23px;
  font-size: 15px;
}
.request_info-header{
  padding-top: 15px;
  font-size: 21px;
}
.subject-info {
  flex-direction: column;
}
.info-image-div {
  width: 258px;
  height: 200px;
}
.request-info-subect{
  margin-left:0
}
.request-info-subect > th{
 font-size: 12px;
}
.subject-name-request{
  font-size: 13px;
}

}