.add-question {
  display: flex;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.568);

  height: 100vh;
  justify-content: center;
}

.add-question-container {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 800px;
}

.head-title {
  display: flex;
  width: 100%;
}

.head-title > h1 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
}

.question-container {
  display: flex;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(66, 42, 42, 0.19);
}

.question-options {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question-option {
  /* display: flex; */
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  font-size: 0.9rem;
}

.title > h3 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.title > small {
  color: rgba(0, 0, 0, 0.8);
}

.title > input {
  margin: 5px 0px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  outline: none;
}

.title > input::placeholder {
  color: #ddd;
}
.title > input:focus {
  border: 1px solid #0054ff;
  box-shadow: 0 4px 8px 0 #0055ff23, 0 6px 20px 0 #0055ff11;
}

.quill {
  height: 100%;
}

.react-quill {
  margin: 10px 0;
  border-radius: 10px;
}

.ql-editor {
  height: 200px;
}




/* Style the container holding the editor and toolbar */
.editor-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 800px;
}

/* Style the Quill editor itself */
.ql-editor {
  font-size: 16px;
  padding: 10px;
}

/* Style the toolbar */
.ql-toolbar {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

/* Style the toolbar buttons */
.ql-toolbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.ql-toolbar button:hover {
  background-color: #ddd;
}

/* Style the select dropdown */
.ql-toolbar select {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}
